

 .contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards;
    color: var(--primary-color);
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
    
    .contact-us__title {
      font-size: 36px;
      margin-bottom: 45px;
      text-align: center;
      font-family: Open Sans,-apple-system, BlinkMacSystemFont, "Segoe UI",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }
    
    .contact-us__content {
      font-size: 18px;
      text-align: center;
      margin-bottom: 45px;
      font-family: Open Sans,-apple-system, BlinkMacSystemFont, "Segoe UI",sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }
    
    .contact-us__social {
      display: flex;
      justify-content: center;
      margin-bottom: 40px;
    }
    
    .contact-us__icon {
      font-size: 24px;
      margin: 0 100px;
      color: var(--primary-color);
      transition: all 0.3s ease-in-out;
    }
    
    .contact-us__icon:hover {
      transform: translateY(-5px);
    }
    
    
  
     .register-form {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 65vh;
      margin: auto 5%;
      flex-direction: column;
    }
    
  
     .input {
      display: flex;
      flex-direction: column;
      width: 430px;
      margin-bottom: 20px;
      height: 100%;
      justify-content: space-evenly;
    }
    .input-group {
      position: relative;
      width: auto;
    }
    .input-group .input:focus {
      border-color: var(--primary-color);
    }
    .input-group input {
      padding: 18px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 14px;
      width: 100%;
    }
    
    .input:focus ~ .input-label,
    .input:valid ~ .input-label {
      top: -9px;
      left: 10px;
      color: #aaa;
      font-size: 13px;
      position: absolute;
      pointer-events: none;
      transition: all 0.2s ease-out;
      background-color: white;
      padding: 3px;
    }
    
    .input:focus {
      outline: none;
      border-color: red;
    }
    
    .input-label {
      position: absolute;
      left: 10px;
      top: 19px;
      color: #aaa;
      transition: all 0.2s ease-out;
    }
    .register-buttons button {
      width: 100%;
      padding: 15px;
      letter-spacing: 1px;
      color: #fff;
      font-size: 20px;
      border-radius: 5px;
      cursor: pointer;
      border: none;
      background-color: var(--button);
    }
    