.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 92.9vh;
    background-color: var(--accent-color);
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.sidebar-main {
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    color: var(--primary-color);
}

.sidebar-end {
    text-align: center;
}
.sidebar-main ul li a {
    color: var(--primary-color);
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar ul li {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    color: var(--primary-color);
}

.sidebar ul li a {
    display: block;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 500;
    padding: 15px;
}

.sidebar ul li a:hover {
    background-color: var(--accent-colors);
    border-radius: 25px;
    transition: all 0.3s ease-in;
}

.ant-pagination .ant-pagination-item-active a {
    color: var(--button);
}

.ant-pagination .ant-pagination-item-active {
    border-color: var(--button);
}

.ant-pagination .ant-pagination-item-active:hover a {
    color: var(--button);
}

.ant-pagination .ant-pagination-item-active:hover {
    border-color: var(--button);
}