@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");

.nav-links-container {
  position: relative;
}

.dropDown-shop {
  position: relative;
}
.navs__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

.navs__links .nav__nav {
  list-style: none;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

#nav-whole-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 50px 10%;
  width: 100%;
  border-bottom: 1px solid var(--accent-colors);
}

#nav-whole-nav:hover {
  background-color: var(--accent-colors);
  transition: all 3s ease 0s;
}

.login-shop-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-logo {
  cursor: pointer;
}

.nav-link {
  font-weight: 500;
  color: var(--button);
  padding: 0 10px;
  font-size: 14px;
  list-style: none;
  text-decoration: none;
  transition: all 2s ease 0s;
}

.navs__links > .nav-link:hover  {
  border-bottom: 1px solid var(--accent-colors);
  opacity: 0.7;
}

.navEvent:hover{
  border-bottom: 1px solid var(--accent-colors);
  transition: all 2s ease 0s;
  opacity: 0.7;
}

.shop___link {
  position: absolute;
  left: 0;
}

.menu__box {
  position: relative;
}

.nav-title {
  font-size: 42px;
  font-family: "Gochi Hand", cursive;
}

#nav-Contact {
  transition: 2s all ease-in-out;
}

.nav-logo-title {
  font-weight: 500;
  color: var(--button);
  padding: 0 10px;
  font-size: 14px;
  list-style: none;
  text-decoration: none;
  transition: all 2s ease 0s;
}



.hamburger-menu {
  display: none;
}



@media screen and (max-width: 768px) {
  #nav-whole-nav {
    position: relative;
    bottom: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 0px 5px 15px 0px rgba(10, 10, 10, 0.1);
    -webkit-box-shadow: 0px 5px 15px 0px rgba(10, 10, 10, 0.1);
    -moz-box-shadow: 0px 5px 15px 0px rgba(10, 10, 10, 0.1);
    padding-right: 2%;
    padding-left: 2%;
  }

  .nav-title {
    margin-left: 45px;
  }

  .navs__links {
    display: none;
  }

  .menu__btn {
    margin-top: -25px;
  }

  #nav-Login {
    display: none;
  }

  ._persone_link_icon {
    position: absolute;
    bottom: 15px;
    left: 20px;
  }

  .menu_icon_link {
    position: absolute;
    left: 25px;
    top: 12%;
    display: block;
    font-size: 35px;
  }

  .nav-vertical {
    box-shadow: none;
  }

  .nav-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }

  .nav-logo-title {
    margin: auto;
  }

  /* ======= */

  #menu__toggle {
    opacity: 0;
    margin-top: 40px;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  .hamburger-menu {
    display: block;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 64px;
    left: 20px;

    width: 26px;
    height: 26px;

    cursor: pointer;
    z-index: 5;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: #616161;

    transition-duration: 0.25s;
  }
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }

  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #eceff1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    transition-duration: 0.25s;
    z-index: 2;
  }

  .menu__item {
    display: block;
    padding: 12px 24px;

    color: #333;

    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;

    text-decoration: none;

    transition-duration: 0.25s;
  }
  .menu__item:hover {
    background-color: #cfd8dc;
  }
  /* ======== */

  #nav-container {
    display: inline-block;
    cursor: pointer;
    margin: auto;
    padding: 10px;
  }

  .nav-navigation {
    display: none;
  }

  .nav-link {
    font-size: 14px;
  }
}

.links___navs_toggle {
  font-size: 14px;
}

.nav-btn {
  height: 50px; 
  width: 50px; 
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-btn span {
  width: 40px; 
  height: 5px; 
  margin-bottom: -14px; 
  background-color: black;
  transition: transform 0.5s; 
}

.nav-on span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.nav-on span:nth-child(2) {
  opacity: 0;
}

.nav-on span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.nav-btn {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  display: block;

  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 999999;
}

.nav-btn span {
  display: block;
  position: absolute;
  top: calc(50% / 2 - 5px / 2);
  bottom: calc(50% / 2 - 5px / 2);
  left: calc((50px - 40px) / 2);
  right: calc((50px - 40px) / 2);
  background: darkCyan;
  transition: all 0s;
  transition-delay: 0.5s;
}

.nav-btn span::before,
.nav-btn span::after {
  content: "";
  width: 100%;
  height: 5px;
  display: block;
  position: absolute;
  left: 0;
  background: darkCyan;
  transition-duration: 0.5s, 0.5s, 1s;
  transition-delay: 0.5s, 0s, 0s;
}

.nav-btn span::before {
  top: -14px;
  transition-property: top, transform, background;
}

.nav-btn span::after {
  bottom: -14px;
  transition-property: bottom, transform, background;
}

.nav-btn.nav-on span {
  background: none;
}

.nav-btn.nav-on span::before,
.nav-btn.nav-on span::after {
  transition-delay: 0s, 0.5s, 0.5s;
}

.nav-btn.nav-on span::before {
  top: 0;
  transform: rotate(45deg);
  background: crimson;
}

.nav-btn.nav-on span::after {
  bottom: 0;
  transform: rotate(-45deg);
  background: crimson;
}
