
  .dropdown-container {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .dropdown-selected-option {
    padding: 10px;
    /* border: 1px solid black; */
    cursor: pointer;
  }
  
  .dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    /* background-color: white; */
    /* border: 1px solid black; */
  }
  
  .dropdown-option {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
  }
  
  .dropdown-option:hover {
    background-color: var(--buttons);
    color: white;
  }
  
  .dropdown-option:hover .nav-link {
    color: white;
    border-bottom: none;
    text-align: center;
  }
  
  .dropdown-selected-option {
    color: var(--buttons);
    font-weight: bold;
  }
  
  