#slider {
  position: relative;
}

.ourCategory {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
  color: var(--button);
  font-size: 36px;
}
.slick-arrow {
  background-color: var(--primary-color);
}
.slider-container {
  width: 100%;
  /* margin-top: 50px; */
  margin-bottom: 50px;
}

.slider-container .slider.animation {
  transition: 500ms ease-in-out;
}

.slider-container .slider .slider-item {
  min-width: 100%;
  padding: 8px;
  text-decoration: none;
}

.slider-container .slider .slider-item .slide {
  box-shadow: 0 0 20px #cdcddd;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  width: 100%;
  max-width: 350px;
}

.slide-image {
  /* width: 100%; */
  border-radius: 5px;
  /* margin-top: -10%; */
  padding: 10px;
  margin-bottom: 30px;
  pointer-events: none;
}
.slick-slider {
  margin: 40px;
  margin-left: 70px;
}

.slick-dots {
  bottom: -50px;
}

.slider-container {
  width: 100%;
  margin-bottom: 50px;
  overflow: hidden;
}

.slider-container .slider .slider-item .slide .slide-image > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow-x: hidden;
}

.slider-container .slider .slider-item:hover .row-category.custom-row > a {
  background-color: #fff;
  color: #ffbc43;
}

.slider-container .slider .slider-item:hover .slide .slide-image > img {
  transform: scale(1.2);
}

.slider-container .slider .slider-item .slide:active {
  background-color: #ffbc43;
  color: var(--primary-color);
}

.slide-name {
  font-size: 25px;
  margin-top: -20px;
  max-width: 60%;
  text-align: center;
  line-height: 26px;
  color: #8d8d8d;
  font-weight: 100;
  font-size: 22px;
}

.custom-line {
  width: 80%;
  height: 1px;
  margin: 10px 0;
  border: 1px solid #efefef;
}

.row-category {
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  color: #aaa;
}
@media screen and (max-width: 1000px) {
  .ourCategory {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    color: var(--button);
    font-size: 24px;
  }
}

@media screen and(max-width:768px) {
  .slide-name {
    font-size: 16px;
  }

  .slider-container .slider .slider-item .slide {
    /* height: 100%; */
    width: 150%;
    object-fit: cover;
  }

  .slider-container .slider .slider-item {
    min-width: 100%;
    padding: 8px;
    text-decoration: none;
  }
}
